@charset "UTF-8";

<style>
        Body {
            background-color: lightgoldenrodyellow;
            font-family: arial,helvetica,sans-serif;
            font-size: 20px;
        }
        
        H1 {
            color: maroon;
            background-color: goldenrod           
        }
        
        H2 {
            color: darkred;
        }
        
        P {
            text-align: justify;
        }
</style>